html {
    position: relative;
    min-height: 100%;
    height: auto !important;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}



center {
    display: block;
    height: 100%;
    /*background: #7aa2a941;*/
    position: relative;
    width: 100%;
    /*margin-top: 48px;*/
}
/*.center-menu{
    width: 100%; 
    height: 100%;
    display: block;
}*/
.center-menu {
    /*background: #e4e4e3;*/
    background: #f1f1f1;
    width: 80%;
    position: relative;
    /*display: flex;*/
}

.center-page {
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
}

left-menu {
    display: block;
    width: 20%;
    height: 100%;
    background: #1BA;
    float: left;
    font-size: 1.1em;
    left: 0;
    top: 0;
}
/*footer*/
footer {
    position: initial;
    bottom: 0;
    left: 0;
    bottom: 0; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    background: #1a242e;
    text-align: center;
    height: 100%;
}

    footer div {
        padding: 10px; /* Поля вокруг текста */
        background: #39b54a; /* Цвет фона */
    }

.account .horizontal-info {
    display: flex;
    padding-top: 20px;
}

.account .vertical-info {
    display: block;
    padding-top: 20px;
}

.left_menu .menu_function {
    display: block;
    color: #fff;
    width: 100%;
    padding-top: 10px;
}

    .left_menu .menu_function .left-link {
        text-decoration: none !important;
        background: #fff;
        height: 40px;
        display: block;
        /* font-family: 'Alegreya', serif; */
        align-items: center;
        color: #111;
        margin-bottom: 15px;
    }

    .left_menu .menu_function a:hover {
        text-decoration: none;
    }

.menu_function .item a:hover {
    background: #9ed3cd;
}

.left_menu .account.account-photo {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    position: relative;
    /*background-image: url('../../fonts/main.jpg');*/
    /*background-repeat: no-repeat;*/
}




photo {
    font-size: 90px;
    color: #555;
}

.fa-user {
    font-size: 90px;
    color: #555;
}

.account-photo a:hover {
    background: #fe3b3b;
}

.left_menu .account.account-name {
    position: relative;
    display: flex;
    padding: 0;
    align-items: center;
    margin-left: 10px;
    width: 80px;
}

.matetials_item {
    border-bottom: 1px solid #fff;
    margin-bottom: 15PX;
}

