@using StartWebSiteEnglish.Models
@using StartWebSiteEnglish.HtmlHelpers
@model  IEnumerable<CategoryWord>

@{
    ViewBag.Title = "AllDictionary";
    Layout = "~/Views/Shared/_Main.cshtml";
}
@section Links{
    <link href="~/Content/Main/materialssyle.css" rel="stylesheet" />
    <link href="~/Content/Main/introduce.css" rel="stylesheet" />
}
@section Body{

    <h2>Наборы слов</h2>
    <hr />
    <div style="width: 85%;">
            @foreach (var x in Model)
            {
                <div class="item col-md-6" style="display: block; width:250px; height: 300px;">
                    <div class="thumbnail">
                        @if (x.PictureUrl == "" || x.PictureUrl == null)
                        {
                            <img class="group list-group-image" alt="1" src="~/fonts/none-image.gif" />
                        }
                        else
                        {
                            <img class="group list-group-image" alt="1" src="@x.PictureUrl" />
                        }
                        <div class="caption">
                            <p class="group inner list-group-item-text">
                                @x.CategoryName
                            </p>
                            <div class="row">
                                @*<div class="col-xs-12 col-md-6">
                                    <p class="lead">Слов: </p>
                                </div>*@
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="/Main/ChoiceWord/@x.ID" style="background: #123;margin-left: 50px;">Изучить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        <div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.service').hover(function () {
                var $this = $(this);
                if ($this.hasClass("open")) {
                    $this.find('.service-icon').animate({ left: "0" });
                    $this.find('.service-description').animate({ left: "100%" });
                    $this.removeClass("open");
                }
                else {
                    $this.find('.service-icon').animate({ left: "-100%" });
                    $this.find('.service-description').animate({ left: "0" });
                    $this.addClass("open");
                }
            });
        });
    </script>
}



